.client-score-viewer {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
 overflow-y: auto;          
  max-height: 35vh;   
  width: 100%;               
  max-width: 900px;         
  position: relative;
}

.client-score-viewer::-webkit-scrollbar {
  width: 8px;
}

.client-score-viewer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.client-score-viewer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}

.client-score-viewer::-webkit-scrollbar-thumb:hover {
  background: #999;
}


/* HEADER DE LA TABLA */
.score-table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 12px 16px;
  background: #f9fafb; 
  border-bottom: 1px solid #e5e7eb;
  position: sticky;         
  top: 0;                    
  z-index: 10;
}

.score-table-header span {
  font-size: 0.75rem;
  font-weight: 800;
  color: #333; 
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* FILAS */
.score-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 14px 16px;
  border-bottom: 1px solid #f3f4f6;
  align-items: center;
  transition: background 0.1s;
  background: white;
}

/* Alineación superior para cuando hay muchos resultados apilados */
.row-aligned-top {
  align-items: flex-start;
}

.score-row:last-child { border-bottom: none; }
.score-row:hover { background-color: #f3f4f6; }

/* CELDAS */
.td-name { display: flex; flex-direction: column; gap: 2px; }

.test-name {
  font-weight: 700;
  color: #111; 
  font-size: 0.9rem;
}

.test-unit {
  font-size: 0.7rem;
  color: #666; 
  font-weight: 600;
  text-transform: uppercase;
}

.val-empty {
  color: #e5e7eb;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 0.8;
}

/* APILAMIENTO DE HISTORIAL (Acá sucede la magia de ponerlos uno abajo del otro) */
.td-val-list, .td-date-list {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacio vertical entre cada resultado */
}

/* ESTILOS DE LOS RESULTADOS (Nuevos vs Viejos) */
.current-val {
  font-weight: 400;
  color: #111; 
  font-size: 0.5rem;
}

.history-val {
  font-weight: 500;
  color: #6b7280;
  font-size: 0.85rem;
}

.current-date {
  font-size: 0.8rem;
  color: #666;
  font-weight: 600;
}

.history-date {
  font-size: 0.75rem;
  color: #9ca3af;
  font-weight: 500;
}

/* MENSAJES DE ESTADO */
.loader-mini {
  padding: 2rem;
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}

.no-data-txt {
  padding: 2rem;
  text-align: center;
  color: #666;
  background: #f9fafb;
  border-radius: 8px;
  font-size: 0.9rem;
  font-style: italic;
  border: 1px dashed #e5e7eb;
}